<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Settings</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/patient/dashboard">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item active">Settings</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="header">
        <h2>
          <strong>Security</strong> Settings</h2>
      </div>
      <div class="body">
        <div class="example-container">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Current Password</mat-label>
            <input matInput type="password">
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>New Password</mat-label>
            <input matInput type="password">
          </mat-form-field>
        </div>
        <button mat-raised-button color="primary">Save</button>
      </div>
    </div>
    <div class="card">
      <div class="header">
        <h2>
          <strong>Account</strong> Settings</h2>
      </div>
      <div class="body">
        <div class="row clearfix">
          <div class="col-lg-6 col-md-12">
            <div class="form-group">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>First Name</mat-label>
                <input matInput>
              </mat-form-field>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="form-group">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Last Name</mat-label>
                <input matInput>
              </mat-form-field>
            </div>
          </div>
          <div class="col-lg-4 col-md-12">
            <div class="form-group">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>City</mat-label>
                <input matInput>
              </mat-form-field>
            </div>
          </div>
          <div class="col-lg-4 col-md-12">
            <div class="form-group">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput>
              </mat-form-field>
            </div>
          </div>
          <div class="col-lg-4 col-md-12">
            <div class="form-group">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Country</mat-label>
                <input matInput>
              </mat-form-field>
            </div>
          </div>
          <div class="col-lg-4 col-md-12">
            <div class="form-group">
              <mat-form-field class="example-full-width mb-3" appearance="fill">
                <mat-label>Date Of Birth</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <div class="col-lg-4 col-md-12">
            <div class="form-group">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Mobile</mat-label>
                <input matInput>
              </mat-form-field>
            </div>
          </div>
          <div class="col-lg-4 col-md-12">
            <div class="form-group">
              <mat-form-field class="example-full-width mb-3" appearance="fill">
                <mat-label>Blood Group</mat-label>
                <mat-select>
                  <mat-option [value]="'A-'">
                    A-
                  </mat-option>
                  <mat-option [value]="'A+'">
                    A+
                  </mat-option>
                  <mat-option [value]="'B-'">
                    B-
                  </mat-option>
                  <mat-option [value]="'B+'">
                    B+
                  </mat-option>
                  <mat-option [value]="'AB-'">
                    AB-
                  </mat-option>
                  <mat-option [value]="'AB+'">
                    AB+
                  </mat-option>
                  <mat-option [value]="'O-'">
                    O-
                  </mat-option>
                  <mat-option [value]="'O+'">
                    O+
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Address</mat-label>
                <textarea matInput></textarea>
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-12">
            <button mat-raised-button color="primary">Save Changes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
