<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <img [src]='staff.img' alt="avatar">
        <div class="modal-about">
          <div class="font-weight-bold p-t-5 msl-3 font-17">
            {{dialogTitle}}</div>
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-4" [formGroup]="staffForm" (ngSubmit)="submit">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" required>
            <mat-icon matSuffix>face</mat-icon>
            <mat-error *ngIf="staffForm.get('name').hasError('required')">
              Name is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Designation</mat-label>
            <input matInput formControlName="designation" required>
            <mat-icon matSuffix>business_center</mat-icon>
            <mat-error *ngIf="staffForm.get('designation').hasError('required')">
              Designation is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Mobile</mat-label>
            <input matInput formControlName="mobile" type="number">
            <mat-icon matSuffix>phone</mat-icon>
            <mat-error *ngIf="staffForm.get('mobile').hasError('required')">
              Mobile is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" required>
            <mat-icon matSuffix>email</mat-icon>
            <mat-error *ngIf="staffForm.get('email').hasError('required') || staffForm.get('email').touched">
              Please enter a valid email address
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Joining date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="staffForm.get('date').hasError('required')">
              Please select date
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Address</mat-label>
            <textarea matInput formControlName="address"></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row">
            <button mat-raised-button color="primary" [type]="submit" [disabled]="!staffForm.valid"
              [mat-dialog-close]="1" (click)="confirmAdd()">Save</button>
            <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
