<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Records</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/patient/dashboard">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item active">Medical Records</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="card">
        <div class="header">
          <h2>
            <strong>Records</strong>
          </h2>
        </div>
        <div class="body">
          <div class="container">
            <div class="row">
              <div class="col-md-10">
                <ul class="left-timeline">
                  <li>
                    <time class="left-time" datetime="2017-11-04T18:30"><span class="hidden">25/12/2017</span>
                      <span class="large">Now</span></time>
                    <div class="left-icon"><img src="assets/images/user/user1.jpg" alt="">
                    </div>
                    <div class="left-label empty"> <span>No Activity</span> </div>
                  </li>
                  <li>
                    <time class="left-time" datetime="2017-11-04T03:45"><span>03:45 AM</span>
                      <span>Today</span></time>
                    <div class="left-icon"><img src="assets/images/user/user4.jpg" alt="">
                    </div>
                    <div class="left-label">
                      <h4>X-Ray</h4>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                        commodo ligula eget dolor. Aenean massa. Cum sociis natoque
                        penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        Donec quam felis, ultricies nec, pellentesque eu, pretium quis,
                        sem. Nulla consequat massa quis enim.</p>
                    </div>
                  </li>
                  <li>
                    <time class="left-time" datetime="2017-11-04T18:30"><span class="hidden">25/08/2020</span>
                      <span class="large">01:30 PM</span></time>
                    <div class="left-icon"> <img src="assets/images/user/user2.jpg" alt="">
                    </div>
                    <div class="left-label">
                      <h4>Consultation</h4>
                      <h2>Consultation with <a href="#" onClick="return false;">Dr. John Deo</a>
                      </h2>
                    </div>
                  </li>
                  <li>
                    <time class="left-time" datetime="2017-11-04T18:30"><span class="hidden">04/09/2020</span>
                      <span class="large">02:00 PM</span></time>
                    <div class="left-icon"><img src="assets/images/user/user5.jpg" alt="">
                    </div>
                    <div class="left-label">
                      <h4>Prescription</h4>
                      <p>Write prescriptio by <a href="#" onClick="return false;">Dr. Sarah Smith</a> and necessary
                        advice to patient.</p>
                      <div class="row">
                        <div class="col-lg-3 col-md-6 col-6"><a href="#" onClick="return false;"><i
                              class="far fa-file-pdf font-50 col-red"></i></a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-6"><a href="#" onClick="return false;"><i
                              class="far fa-file-image font-50 col-purple"></i></a>
                        </div>
                      </div>
                      <p>
                        <span>
                          <i class="fa fa-paperclip"></i> 2 attachments — </span>
                        <a href="#" onClick="return false;">Download all attachments</a> |
                        <a href="#" onClick="return false;">View all images</a>
                      </p>
                    </div>
                  </li>
                  <li>
                    <time class="left-time" datetime="2017-11-04T18:30"><span class="hidden">03/09/2020</span>
                      <span class="large">10:30 PM</span> <span>One weeks ago</span></time>
                    <div class="left-icon"><img src="assets/images/user/user5.jpg" alt="">
                    </div>
                    <div class="left-label">
                      <h4>Operation</h4>
                      <blockquote>Pianoforte principles our unaffected not for astonished
                        travelling are particular.</blockquote>
                      <p>Doctor Team</p>
                      <div class="row">
                        <div class="col-lg-3 col-md-6 col-6"><a href="#" onClick="return false;"><img
                              src="assets/images/user/usrbig1.jpg" alt="" class="img-fluid img-thumbnail m-t-30"></a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-6"><a href="#" onClick="return false;">
                            <img src="assets/images/user/usrbig5.jpg" alt="" class="img-fluid img-thumbnail m-t-30"></a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-6"><a href="#" onClick="return false;">
                            <img src="assets/images/user/usrbig6.jpg" alt="" class="img-fluid img-thumbnail m-t-30">
                          </a> </div>
                        <div class="col-lg-3 col-md-6 col-6"><a href="#" onClick="return false;">
                            <img src="assets/images/user/usrbig7.jpg" alt="" class="img-fluid img-thumbnail m-t-30">
                          </a> </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <time class="left-time" datetime="2017-11-04T18:30"><span class="hidden">29/08/2020</span>
                      <span class="large">01:30 PM</span> <span>Two weeks ago</span></time>
                    <div class="left-icon"> <img src="assets/images/user/user6.jpg" alt="">
                    </div>
                    <div class="left-label">
                      <h4>Consultation</h4>
                      <h2>Consultation with <a href="#" onClick="return false;">Dr. Sarah Smith</a>
                      </h2>
                      <blockquote>
                        <p class="blockquote blockquote-primary">
                          "Debating me breeding be answered an he. Spoil event was words her off cause any. Tears woman
                          which no is world miles woody. Wished be do mutual except in effect answer."
                          <br>
                          <small>
                            - Dr. Sarah Smith
                          </small>
                        </p>
                      </blockquote>
                    </div>
                  </li>
                  <li>
                    <time class="left-time" datetime="2017-11-04T18:30"><span class="hidden">25/08/2020</span>
                      <span class="large">02:00 PM</span></time>
                    <div class="left-icon"><img src="assets/images/user/user5.jpg" alt="">
                    </div>
                    <div class="left-label">
                      <h4>Prescription</h4>
                      <p>Write prescriptio by <a href="#" onClick="return false;">Dr. Sarah Smith</a> and necessary
                        advice to patient.</p>
                      <div class="row">
                        <div class="col-lg-3 col-md-6 col-6"><a href="#" onClick="return false;"><i
                              class="far fa-file-pdf font-50 col-red"></i></a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-6"><a href="#" onClick="return false;"><i
                              class="far fa-file-image font-50 col-purple"></i></a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-6"><a href="#" onClick="return false;"><i
                              class="far fa-file-archive font-50"></i></a>
                        </div>
                      </div>
                      <p>
                        <span>
                          <i class="fa fa-paperclip"></i> 3 attachments — </span>
                        <a href="#" onClick="return false;">Download all attachments</a> |
                        <a href="#" onClick="return false;">View all images</a>
                      </p>
                    </div>
                  </li>
                  <li>
                    <time class="left-time" datetime="2017-11-04T18:30"><span class="hidden">25/08/2020</span>
                      <span class="large">01:30 PM</span></time>
                    <div class="left-icon"> <img src="assets/images/user/user6.jpg" alt="">
                    </div>
                    <div class="left-label">
                      <h4>Consultation</h4>
                      <h2>Consultation with <a href="#" onClick="return false;">Dr. Sarah Smith</a>
                      </h2>
                    </div>
                  </li>
                  <li>
                    <time class="left-time" datetime="2017-11-04T18:30"><span class="hidden">25/08/2020</span>
                      <span class="large">12:13 PM</span></time>
                    <div class="left-icon"><img src="assets/images/user/user7.jpg" alt="">
                    </div>
                    <div class="left-label">
                      <h4>Medication</h4>
                      <h2>Generate new patient id <a href="#" onClick="return false;">#ID56734</a>
                      </h2>
                      <p>Fill the form and follow basic procedures.</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
