<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Gauge Chart</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/dashboard/main">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">Charts</a>
            </li>
            <li class="breadcrumb-item active">Gauge</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="header">
            <h2>angular-gauge
            </h2>
          </div>
          <div class="body">
            <div class="row">
              <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                <mwl-gauge [max]="100" [dialStartAngle]="-90" [dialEndAngle]="-90.001" [label]="percentageValue"
                  [value]="gaugeValues[1]" [animated]="true" [animationDuration]="1">
                </mwl-gauge>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                <mwl-gauge class="two" [max]="100" [dialStartAngle]="180" [dialEndAngle]="0" [value]="gaugeValues[2]"
                  [animated]="true" [animationDuration]="2">
                </mwl-gauge>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                <mwl-gauge class="three" [max]="100" [value]="gaugeValues[3]" [animated]="true"
                  [animationDuration]="1.5">
                </mwl-gauge>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                <mwl-gauge class="four" [max]="100" [dialStartAngle]="180" [dialEndAngle]="-90" [value]="gaugeValues[4]"
                  [animated]="true" [animationDuration]="2">
                </mwl-gauge>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                <mwl-gauge class="five" [max]="200" [dialStartAngle]="0" [dialEndAngle]="-180" [value]="gaugeValues[5]"
                  [animated]="true" [animationDuration]="1">
                </mwl-gauge>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                <mwl-gauge class="six" [max]="100" [dialStartAngle]="90.01" [dialEndAngle]="89.99" [dialRadius]="10"
                  [showValue]="false" [value]="gaugeValues[6]" [animated]="true" [animationDuration]="1">
                </mwl-gauge>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                <mwl-gauge class="seven" [max]="100" [dialStartAngle]="-90" [dialEndAngle]="-90.001" [showValue]="false"
                  [value]="gaugeValues[6]" [animated]="true" [animationDuration]="1">
                </mwl-gauge>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="header">
            <h2>ngx-gauge
            </h2>
          </div>
          <div class="body">
            <div class="row">
              <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <h5 class="text-center">Full</h5>
                <ngx-gauge [value]="gaugeValue" [size]="gaugeSize" [type]="guageType1" [thick]="guageThick"
                  class="guage-chart-center">
                  <ngx-gauge-append>
                    <span class="font-15">'km/hr'</span>
                  </ngx-gauge-append>
                  <ngx-gauge-label>
                    'Speed'
                  </ngx-gauge-label>
                  <ngx-gauge-value>
                    {{gaugeValue}}
                  </ngx-gauge-value>
                </ngx-gauge>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <h5 class="text-center">Semi</h5>
                <ngx-gauge [value]="gaugeValue" [size]="gaugeSize" [type]="guageType2" [thick]="guageThick"
                  class="guage-chart-center">
                  <ngx-gauge-append>
                    <span class="font-15">'km/hr'</span>
                  </ngx-gauge-append>
                  <ngx-gauge-label>
                    'Speed'
                  </ngx-gauge-label>
                  <ngx-gauge-value>
                    {{gaugeValue}}
                  </ngx-gauge-value>
                </ngx-gauge>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <h5 class="text-center">Arch</h5>
                <ngx-gauge [value]="gaugeValue" [size]="gaugeSize" [type]="guageType3" [thick]="guageThick"
                  class="guage-chart-center">
                  <ngx-gauge-append>
                    <span class="font-15">'km/hr'</span>
                  </ngx-gauge-append>
                  <ngx-gauge-label>
                    'Speed'
                  </ngx-gauge-label>
                  <ngx-gauge-value>
                    {{gaugeValue}}
                  </ngx-gauge-value>
                </ngx-gauge>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
