<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Appointment</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/patient/dashboard">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item active">Today</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">
            <h2>Today's Appointments</h2>

          </div>
          <div class="body">
            <ul class="list-unstyled user-progress list-unstyled-border list-unstyled-noborder">
              <li class="app-list">
                <img alt="image" class="msr-3 rounded-circle" width="40" src="assets/images/user/usrbig1.jpg">
                <div class="set-flex">
                  <div class="media-title font-16">Dr.Cara Stevens</div>
                  <div class="text-job text-muted mb-0">Radiologist</div>
                </div>
                <div class="set-flex">
                  <div class="media-title font-16">12 June '20</div>
                  <div class="text-job text-muted mb-0">09:00-10:00</div>
                </div>
                <div class="set-flex">
                  <div class="media-title text-muted mb-0">Treatement</div>
                  <div class="text-job font-16">CT scans</div>
                </div>
                <div class="set-flex">
                  <div class="media-title text-muted mb-0">Contact Number</div>
                  <div class="text-job font-16">+123 676545655</div>
                </div>
                <div class="set-flex">
                  <div class="media-title text-muted mb-0">Status</div>
                  <div class="col-green">Confirm</div>
                </div>
                <div class="set-flex">
                  <div class="media-title text-muted mb-0">Location</div>
                  <div class="text-job font-16">Grand Plains Clinic</div>
                </div>
                <div class="media-cta">
                  <td>
                    <button mat-icon-button class="btn-tbl-confirm">
                      <mat-icon>done</mat-icon>
                    </button>
                    <button mat-icon-button class="btn-tbl-reject">
                      <mat-icon>close</mat-icon>
                    </button>
                  </td>
                </div>
              </li>
              <li class="app-list">
                <img alt="image" class="msr-3 rounded-circle" width="40" src="assets/images/user/usrbig2.jpg">
                <div class="set-flex">
                  <div class="media-title font-16">Dr.John Doe</div>
                  <div class="text-job text-muted mb-0">Cardiologist</div>
                </div>
                <div class="set-flex">
                  <div class="media-title font-16">12 June '20</div>
                  <div class="text-job text-muted mb-0">11:00-11:30</div>
                </div>
                <div class="set-flex">
                  <div class="media-title text-muted mb-0">Treatement</div>
                  <div class="text-job font-16">heart checkup</div>
                </div>
                <div class="set-flex">
                  <div class="media-title text-muted mb-0">Contact Number</div>
                  <div class="text-job font-16">+123 434656764</div>
                </div>
                <div class="set-flex">
                  <div class="media-title text-muted mb-0">Status</div>
                  <div class="col-red">Cancelled</div>
                </div>
                <div class="set-flex">
                  <div class="media-title text-muted mb-0">Location</div>
                  <div class="text-job font-16">Genesis Hospital</div>
                </div>
                <div class="media-cta">
                  <td>
                    <button mat-icon-button class="btn-tbl-confirm">
                      <mat-icon>done</mat-icon>
                    </button>
                    <button mat-icon-button class="btn-tbl-reject">
                      <mat-icon>close</mat-icon>
                    </button>
                  </td>
                </div>
              </li>
              <li class="app-list">
                <img alt="image" class="msr-3 rounded-circle" width="40" src="assets/images/user/usrbig3.jpg">
                <div class="set-flex">
                  <div class="media-title font-16">Dr.Airi Satou</div>
                  <div class="text-job text-muted mb-0">Otolaryngologist</div>
                </div>
                <div class="set-flex">
                  <div class="media-title font-16">12 June '20</div>
                  <div class="text-job text-muted mb-0">09:15-10:15 </div>
                </div>
                <div class="set-flex">
                  <div class="media-title text-muted mb-0">Treatement</div>
                  <div class="text-job font-16">Diseases Of The Ear</div>
                </div>
                <div class="set-flex">
                  <div class="media-title text-muted mb-0">Contact Number</div>
                  <div class="text-job font-16">+123 45345673</div>
                </div>
                <div class="set-flex">
                  <div class="media-title text-muted mb-0">Status</div>
                  <div class="col-green">Confirm</div>
                </div>
                <div class="set-flex">
                  <div class="media-title text-muted mb-0">Location</div>
                  <div class="text-job font-16">Genesis Laboratory</div>
                </div>
                <div class="media-cta">
                  <td>
                    <button mat-icon-button class="btn-tbl-confirm">
                      <mat-icon>done</mat-icon>
                    </button>
                    <button mat-icon-button class="btn-tbl-reject">
                      <mat-icon>close</mat-icon>
                    </button>
                  </td>
                </div>
              </li>
              <li class="app-list">
                <img alt="image" class="msr-3 rounded-circle" width="40" src="assets/images/user/usrbig4.jpg">
                <div class="set-flex">
                  <div class="media-title font-16">Dr.Angelica Ramos</div>
                  <div class="text-job text-muted mb-0">Dentist</div>
                </div>
                <div class="set-flex">
                  <div class="media-title font-16">12 June '20</div>
                  <div class="text-job text-muted mb-0">11:00-12:00</div>
                </div>
                <div class="set-flex">
                  <div class="media-title text-muted mb-0">Treatement</div>
                  <div class="text-job font-16">Root Canal</div>
                </div>
                <div class="set-flex">
                  <div class="media-title text-muted mb-0">Contact Number</div>
                  <div class="text-job font-16">+123 87654533</div>
                </div>
                <div class="set-flex">
                  <div class="media-title text-muted mb-0">Status</div>
                  <div class="col-green">Confirm</div>
                </div>
                <div class="set-flex">
                  <div class="media-title text-muted mb-0">Location</div>
                  <div class="text-job font-16">Clemency Hospital</div>
                </div>
                <div class="media-cta">
                  <td>
                    <button mat-icon-button class="btn-tbl-confirm">
                      <mat-icon>done</mat-icon>
                    </button>
                    <button mat-icon-button class="btn-tbl-reject">
                      <mat-icon>close</mat-icon>
                    </button>
                  </td>
                </div>
              </li>
              <li class="app-list">
                <img alt="image" class="msr-3 rounded-circle" width="40" src="assets/images/user/usrbig6.jpg">
                <div class="set-flex">
                  <div class="media-title font-16">Dr.Jens Brincker</div>
                  <div class="text-job text-muted mb-0">Endocrinologist</div>
                </div>
                <div class="set-flex">
                  <div class="media-title font-16">12 June '20</div>
                  <div class="text-job text-muted mb-0">04:00-05:00</div>
                </div>
                <div class="set-flex">
                  <div class="media-title text-muted mb-0">Treatement</div>
                  <div class="text-job font-16">Diabetes</div>
                </div>
                <div class="set-flex">
                  <div class="media-title text-muted mb-0">Contact Number</div>
                  <div class="text-job font-16">+123 45678345</div>
                </div>
                <div class="set-flex">
                  <div class="media-title text-muted mb-0">Status</div>
                  <div class="col-red">Cancelled</div>
                </div>
                <div class="set-flex">
                  <div class="media-title text-muted mb-0">Location</div>
                  <div class="text-job font-16">Hopevale Clinic</div>
                </div>
                <div class="media-cta">
                  <td>
                    <button mat-icon-button class="btn-tbl-confirm">
                      <mat-icon>done</mat-icon>
                    </button>
                    <button mat-icon-button class="btn-tbl-reject">
                      <mat-icon>close</mat-icon>
                    </button>
                  </td>
                </div>
              </li>
              <li class="app-list">
                <img alt="image" class="msr-3 rounded-circle" width="40" src="assets/images/user/usrbig7.jpg">
                <div class="set-flex">
                  <div class="media-title font-16">Dr.Jamie Blair</div>
                  <div class="text-job text-muted mb-0">Radiologist</div>
                </div>
                <div class="set-flex">
                  <div class="media-title font-16">12 June '20</div>
                  <div class="text-job text-muted mb-0">05:00-05:30</div>
                </div>
                <div class="set-flex">
                  <div class="media-title text-muted mb-0">Treatement</div>
                  <div class="text-job font-16">Diabetes</div>
                </div>
                <div class="set-flex">
                  <div class="media-title text-muted mb-0">Contact Number</div>
                  <div class="text-job font-16">+123 45678345</div>
                </div>
                <div class="set-flex">
                  <div class="media-title text-muted mb-0">Status</div>
                  <div class="col-green">Confirm</div>
                </div>
                <div class="set-flex">
                  <div class="media-title text-muted mb-0">Location</div>
                  <div class="text-job font-16">Pinevale Medical Center</div>
                </div>
                <div class="media-cta">
                  <td>
                    <button mat-icon-button class="btn-tbl-confirm">
                      <mat-icon>done</mat-icon>
                    </button>
                    <button mat-icon-button class="btn-tbl-reject">
                      <mat-icon>close</mat-icon>
                    </button>
                  </td>
                </div>
              </li>
              <li class="app-list">
                <img alt="image" class="msr-3 rounded-circle" width="40" src="assets/images/user/usrbig8.jpg">
                <div class="set-flex">
                  <div class="media-title font-16">Dr.Nikki Barton</div>
                  <div class="text-job text-muted mb-0">Endocrinologist</div>
                </div>
                <div class="set-flex">
                  <div class="media-title font-16">12 June '20</div>
                  <div class="text-job text-muted mb-0">06:00-07:00</div>
                </div>
                <div class="set-flex">
                  <div class="media-title text-muted mb-0">Treatement</div>
                  <div class="text-job font-16">X-Ray</div>
                </div>
                <div class="set-flex">
                  <div class="media-title text-muted mb-0">Contact Number</div>
                  <div class="text-job font-16">+123 45678345</div>
                </div>
                <div class="set-flex">
                  <div class="media-title text-muted mb-0">Status</div>
                  <div class="col-orange">Pending</div>
                </div>
                <div class="set-flex">
                  <div class="media-title text-muted mb-0">Location</div>
                  <div class="text-job font-16">Hopevale Clinic</div>
                </div>
                <div class="media-cta">
                  <td>
                    <button mat-icon-button class="btn-tbl-confirm">
                      <mat-icon>done</mat-icon>
                    </button>
                    <button mat-icon-button class="btn-tbl-reject">
                      <mat-icon>close</mat-icon>
                    </button>
                  </td>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
