<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Doctors</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/doctor/dashboard">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item active">Doctors</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="body">
            <div class="row">
              <div class="col-12">
                <div class="card p-3">
                  <div class="row">
                    <div class="col-12 col-md-2 mb-0">
                      <img class="img-circle doc-card-image" style="width: 150px;" src="assets/images/user/usrbig1.jpg">
                    </div>
                    <div class="col-md-6 border-right mb-0">
                      <div class="doc-card-title">
                        <h4>Dr. Sarah Smith</h4>
                      </div>
                      <p>MBBS,MD -Dermatology</p>
                      <div class="d-flex flex-row align-items-center">
                        <div class="d-flex flex-row align-items-center ratings"><span
                            class="msr-1 rating-number">4</span>
                          <div class="stars"><i class="fas fa-star col-orange"></i><i
                              class="fas fa-star col-orange"></i><i class="fas fa-star col-orange"></i><i
                              class="fas fa-star col-orange"></i><i class="far fa-star col-orange"></i></div><span
                            class="msr-2 ">(12342
                            ratings)</span>
                        </div>
                      </div>
                      <div class="description">
                        <p><strong>Lorem Ipsum</strong>&nbsp;is simply dummy text of the printing and typesetting
                          industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
                          an unknown printer...<br></p>
                      </div>
                    </div>
                    <div class="d-flex col-md-4 mb-0">
                      <div class="d-flex flex-column justify-content-start user-profile w-100">
                        <div><i class="fas fa-map-marker-alt pt-3 psr-3"></i> Shanti Nagar Bldg No B 4, Sector No 6,
                          Mira
                          Road</div>
                        <div><i class="far fa-comment-dots pt-3 psr-3"></i> 234 Feedback </div>
                        <div><i class="far fa-money-bill-alt pt-3 psr-3"></i> INR 500 </div>
                        <div><i class="far fa-clock pt-3 psr-3"></i> MON - SAT 10:00 AM - 8:00PM</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="card p-3">
                  <div class="row">
                    <div class="col-12 col-md-2 mb-0">
                      <img class="img-circle doc-card-image" style="width: 150px;" src="assets/images/user/usrbig2.jpg">
                    </div>
                    <div class="col-md-6 border-right mb-0">
                      <div class="doc-card-title">
                        <h4>Dr.Jay Soni</h4>
                      </div>
                      <p>BDS,MDS</p>
                      <div class="d-flex flex-row align-items-center">
                        <div class="d-flex flex-row align-items-center ratings"><span
                            class="msr-1 rating-number">3</span>
                          <div class="stars"><i class="fas fa-star col-orange"></i><i
                              class="fas fa-star col-orange"></i><i class="fas fa-star col-orange"></i><i
                              class="far fa-star col-orange"></i><i class="far fa-star col-orange"></i></div><span
                            class="msr-2 ">(6545
                            ratings)</span>
                        </div>
                      </div>
                      <div class="description">
                        <p><strong>Lorem Ipsum</strong>&nbsp;is simply dummy text of the printing and typesetting
                          industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
                          an unknown printer...<br></p>
                      </div>
                    </div>
                    <div class="d-flex col-md-4 mb-0">
                      <div class="d-flex flex-column justify-content-start user-profile w-100">
                        <div><i class="fas fa-map-marker-alt pt-3 psr-3"></i> Shanti Nagar Bldg No B 4, Sector No 6,
                          Mira
                          Road</div>
                        <div><i class="far fa-comment-dots pt-3 psr-3"></i> 176 Feedback </div>
                        <div><i class="far fa-money-bill-alt pt-3 psr-3"></i> INR 300 </div>
                        <div><i class="far fa-clock pt-3 psr-3"></i> MON - SAT 10:00 AM - 8:00PM</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="card p-3">
                  <div class="row">
                    <div class="col-12 col-md-2 mb-0">
                      <img class="img-circle doc-card-image" style="width: 150px;" src="assets/images/user/usrbig3.jpg">
                    </div>
                    <div class="col-md-6 border-right mb-0">
                      <div class="doc-card-title">
                        <h4>Dr.Megha Trivedi</h4>
                      </div>
                      <p>MBBS,MS</p>
                      <div class="d-flex flex-row align-items-center">
                        <div class="d-flex flex-row align-items-center ratings"><span
                            class="msr-1 rating-number">4</span>
                          <div class="stars"><i class="fas fa-star col-orange"></i><i
                              class="fas fa-star col-orange"></i><i class="fas fa-star col-orange"></i><i
                              class="fas fa-star col-orange"></i><i class="far fa-star col-orange"></i></div><span
                            class="msr-2 ">(3456
                            ratings)</span>
                        </div>
                      </div>
                      <div class="description">
                        <p><strong>Lorem Ipsum</strong>&nbsp;is simply dummy text of the printing and typesetting
                          industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
                          an unknown printer...<br></p>
                      </div>
                    </div>
                    <div class="d-flex col-md-4 mb-0">
                      <div class="d-flex flex-column justify-content-start user-profile w-100">
                        <div><i class="fas fa-map-marker-alt pt-3 psr-3"></i> Shanti Nagar Bldg No B 4, Sector No 6,
                          Mira
                          Road</div>
                        <div><i class="far fa-comment-dots pt-3 psr-3"></i> 659 Feedback </div>
                        <div><i class="far fa-money-bill-alt pt-3 psr-3"></i> INR 600 </div>
                        <div><i class="far fa-clock pt-3 psr-3"></i> MON - SAT 10:00 AM - 8:00PM</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="card p-3">
                  <div class="row">
                    <div class="col-12 col-md-2 mb-0">
                      <img class="img-circle doc-card-image" style="width: 150px;" src="assets/images/user/usrbig4.jpg">
                    </div>
                    <div class="col-md-6 border-right mb-0">
                      <div class="doc-card-title">
                        <h4>Dr.Jacob Ryan</h4>
                      </div>
                      <p>MBBS,MD -Orthopedic</p>
                      <div class="d-flex flex-row align-items-center">
                        <div class="d-flex flex-row align-items-center ratings"><span
                            class="msr-1 rating-number">5</span>
                          <div class="stars"><i class="fas fa-star col-orange"></i><i
                              class="fas fa-star col-orange"></i><i class="fas fa-star col-orange"></i><i
                              class="fas fa-star col-orange"></i><i class="fas fa-star col-orange"></i></div><span
                            class="msr-2 ">(3987
                            ratings)</span>
                        </div>
                      </div>
                      <div class="description">
                        <p><strong>Lorem Ipsum</strong>&nbsp;is simply dummy text of the printing and typesetting
                          industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
                          an unknown printer...<br></p>
                      </div>
                    </div>
                    <div class="d-flex col-md-4 mb-0">
                      <div class="d-flex flex-column justify-content-start user-profile w-100">
                        <div><i class="fas fa-map-marker-alt pt-3 psr-3"></i> Shanti Nagar Bldg No B 4, Sector No 6,
                          Mira
                          Road</div>
                        <div><i class="far fa-comment-dots pt-3 psr-3"></i> 761 Feedback </div>
                        <div><i class="far fa-money-bill-alt pt-3 psr-3"></i> INR 400 </div>
                        <div><i class="far fa-clock pt-3 psr-3"></i> MON - SAT 10:00 AM - 8:00PM</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="card p-3">
                  <div class="row">
                    <div class="col-12 col-md-2 mb-0">
                      <img class="img-circle doc-card-image" style="width: 150px;" src="assets/images/user/usrbig5.jpg">
                    </div>
                    <div class="col-md-6 border-right mb-0">
                      <div class="doc-card-title">
                        <h4>Dr. Ashton Cox</h4>
                      </div>
                      <p>DHMS,BHMS</p>
                      <div class="d-flex flex-row align-items-center">
                        <div class="d-flex flex-row align-items-center ratings"><span
                            class="msr-1 rating-number">3</span>
                          <div class="stars"><i class="fas fa-star col-orange"></i><i
                              class="fas fa-star col-orange"></i><i class="fas fa-star col-orange"></i><i
                              class="far fa-star col-orange"></i><i class="far fa-star col-orange"></i></div><span
                            class="msr-2 ">(34
                            ratings)</span>
                        </div>
                      </div>
                      <div class="description">
                        <p><strong>Lorem Ipsum</strong>&nbsp;is simply dummy text of the printing and typesetting
                          industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
                          an unknown printer...<br></p>
                      </div>
                    </div>
                    <div class="d-flex col-md-4 mb-0">
                      <div class="d-flex flex-column justify-content-start user-profile w-100">
                        <div><i class="fas fa-map-marker-alt pt-3 psr-3"></i> Shanti Nagar Bldg No B 4, Sector No 6,
                          Mira
                          Road</div>
                        <div><i class="far fa-comment-dots pt-3 psr-3"></i> 12 Feedback </div>
                        <div><i class="far fa-money-bill-alt pt-3 psr-3"></i> INR 200 </div>
                        <div><i class="far fa-clock pt-3 psr-3"></i> MON - SAT 10:00 AM - 8:00PM</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="card p-3">
                  <div class="row">
                    <div class="col-12 col-md-2 mb-0">
                      <img class="img-circle doc-card-image" style="width: 150px;" src="assets/images/user/usrbig6.jpg">
                    </div>
                    <div class="col-md-6 border-right mb-0">
                      <div class="doc-card-title">
                        <h4>Dr. Angelica Ramos</h4>
                      </div>
                      <p>BDS,MDS</p>
                      <div class="d-flex flex-row align-items-center">
                        <div class="d-flex flex-row align-items-center ratings"><span
                            class="msr-1 rating-number">5</span>
                          <div class="stars"><i class="fas fa-star col-orange"></i><i
                              class="fas fa-star col-orange"></i><i class="fas fa-star col-orange"></i><i
                              class="fas fa-star col-orange"></i><i class="fas fa-star col-orange"></i></div><span
                            class="msr-2 ">(765
                            ratings)</span>
                        </div>
                      </div>
                      <div class="description">
                        <p><strong>Lorem Ipsum</strong>&nbsp;is simply dummy text of the printing and typesetting
                          industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
                          an unknown printer...<br></p>
                      </div>
                    </div>
                    <div class="d-flex col-md-4 mb-0">
                      <div class="d-flex flex-column justify-content-start user-profile w-100">
                        <div><i class="fas fa-map-marker-alt pt-3 psr-3"></i> Shanti Nagar Bldg No B 4, Sector No 6,
                          Mira
                          Road</div>
                        <div><i class="far fa-comment-dots pt-3 psr-3"></i> 354 Feedback </div>
                        <div><i class="far fa-money-bill-alt pt-3 psr-3"></i> INR 350 </div>
                        <div><i class="far fa-clock pt-3 psr-3"></i> MON - SAT 10:00 AM - 8:00PM</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
