<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Patients</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/doctor/dashboard">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item active">Patients</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card py-3 py-md-3">
          <div class=" d-flex justify-content-between px-3 px-md-4">
            <img src="assets/images/user/usrbig1.jpg" height="55sspx" width="55px" alt="" class="rounded-circle">
            <div class="">
              <h6 class="col-green">Lindsey Johnson</h6>
              <p>Patient Id : 1234</p>
            </div>
            <div>
              <h6 class="">10:00 - 10:30 AM</h6>
              <p class="grey"> Friday, June 26 </p>
            </div>
          </div>
          <hr class="light-hr">
          <div class="d-flex flex-column justify-content-start w-100 px-3 px-md-4">
            <div><i class="fas fa-map-marker-alt pt-3 psr-3"></i> Shanti Nagar Bldg No B 4, Sector No 6, Mira
              Road</div>
            <div><i class="fas fa-phone pt-3 psr-3"></i>+123 87654565</div>
          </div>
          <hr class="light-hr">
          <div class="d-flex justify-content-between px-3 px-md-4">
            <div>
              <div class="d-flex">
                <p class="psr-2">Blood Group:</p>
                <div class="font-weight-bold"> O+ </div>
              </div>
              <div class="d-flex">
                <p class="psr-2">Reports:</p>
                <div class="font-weight-bold"> <i class="far fa-file-pdf col-red"></i></div>
              </div>
            </div>
          </div>
          <hr class="light-hr">
          <div class="d-flex justify-content-around px-4"> <button mat-stroked-button color="primary">Read
              More</button></div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card py-3 py-md-3">
          <div class=" d-flex justify-content-between px-3 px-md-4">
            <img src="assets/images/user/usrbig2.jpg" height="55sspx" width="55px" alt="" class="rounded-circle">
            <div class="">
              <h6 class="col-green">Lindsey Johnson</h6>
              <p>Patient Id : 1234</p>
            </div>
            <div>
              <h6 class="">10:00 - 10:30 AM</h6>
              <p class="grey"> Friday, June 26 </p>
            </div>
          </div>
          <hr class="light-hr">
          <div class="d-flex flex-column justify-content-start w-100 px-3 px-md-4">
            <div><i class="fas fa-map-marker-alt pt-3 psr-3"></i> Shanti Nagar Bldg No B 4, Sector No 6, Mira
              Road</div>
            <div><i class="fas fa-phone pt-3 psr-3"></i>+123 87654565</div>
          </div>
          <hr class="light-hr">
          <div class="d-flex justify-content-between px-3 px-md-4">
            <div>
              <div class="d-flex">
                <p class="psr-2">Blood Group:</p>
                <div class="font-weight-bold"> O+ </div>
              </div>
              <div class="d-flex">
                <p class="psr-2">Reports:</p>
                <div class="font-weight-bold"> <i class="far fa-file-pdf col-red"></i></div>
              </div>
            </div>
          </div>
          <hr class="light-hr">
          <div class="d-flex justify-content-around px-4"> <button mat-stroked-button color="primary">Read
              More</button></div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card py-3 py-md-3">
          <div class=" d-flex justify-content-between px-3 px-md-4">
            <img src="assets/images/user/usrbig4.jpg" height="55sspx" width="55px" alt="" class="rounded-circle">
            <div class="">
              <h6 class="col-green">Lindsey Johnson</h6>
              <p>Patient Id : 1234</p>
            </div>
            <div>
              <h6 class="">10:00 - 10:30 AM</h6>
              <p class="grey"> Friday, June 26 </p>
            </div>
          </div>
          <hr class="light-hr">
          <div class="d-flex flex-column justify-content-start w-100 px-3 px-md-4">
            <div><i class="fas fa-map-marker-alt pt-3 psr-3"></i> Shanti Nagar Bldg No B 4, Sector No 6, Mira
              Road</div>
            <div><i class="fas fa-phone pt-3 psr-3"></i>+123 87654565</div>
          </div>
          <hr class="light-hr">
          <div class="d-flex justify-content-between px-3 px-md-4">
            <div>
              <div class="d-flex">
                <p class="psr-2">Blood Group:</p>
                <div class="font-weight-bold"> O+ </div>
              </div>
              <div class="d-flex">
                <p class="psr-2">Reports:</p>
                <div class="font-weight-bold"> <i class="far fa-file-pdf col-red"></i></div>
              </div>
            </div>
          </div>
          <hr class="light-hr">
          <div class="d-flex justify-content-around px-4"> <button mat-stroked-button color="primary">Read
              More</button></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card py-3 py-md-3">
          <div class=" d-flex justify-content-between px-3 px-md-4">
            <img src="assets/images/user/usrbig3.jpg" height="55sspx" width="55px" alt="" class="rounded-circle">
            <div class="">
              <h6 class="col-green">Lindsey Johnson</h6>
              <p>Patient Id : 1234</p>
            </div>
            <div>
              <h6 class="">10:00 - 10:30 AM</h6>
              <p class="grey"> Friday, June 26 </p>
            </div>
          </div>
          <hr class="light-hr">
          <div class="d-flex flex-column justify-content-start w-100 px-3 px-md-4">
            <div><i class="fas fa-map-marker-alt pt-3 psr-3"></i> Shanti Nagar Bldg No B 4, Sector No 6, Mira
              Road</div>
            <div><i class="fas fa-phone pt-3 psr-3"></i>+123 87654565</div>
          </div>
          <hr class="light-hr">
          <div class="d-flex justify-content-between px-3 px-md-4">
            <div>
              <div class="d-flex">
                <p class="psr-2">Blood Group:</p>
                <div class="font-weight-bold"> O+ </div>
              </div>
              <div class="d-flex">
                <p class="psr-2">Reports:</p>
                <div class="font-weight-bold"> <i class="far fa-file-pdf col-red"></i></div>
              </div>
            </div>
          </div>
          <hr class="light-hr">
          <div class="d-flex justify-content-around px-4"> <button mat-stroked-button color="primary">Read
              More</button></div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card py-3 py-md-3">
          <div class=" d-flex justify-content-between px-3 px-md-4">
            <img src="assets/images/user/usrbig5.jpg" height="55sspx" width="55px" alt="" class="rounded-circle">
            <div class="">
              <h6 class="col-green">Lindsey Johnson</h6>
              <p>Patient Id : 1234</p>
            </div>
            <div>
              <h6 class="">10:00 - 10:30 AM</h6>
              <p class="grey"> Friday, June 26 </p>
            </div>
          </div>
          <hr class="light-hr">
          <div class="d-flex flex-column justify-content-start w-100 px-3 px-md-4">
            <div><i class="fas fa-map-marker-alt pt-3 psr-3"></i> Shanti Nagar Bldg No B 4, Sector No 6, Mira
              Road</div>
            <div><i class="fas fa-phone pt-3 psr-3"></i>+123 87654565</div>
          </div>
          <hr class="light-hr">
          <div class="d-flex justify-content-between px-3 px-md-4">
            <div>
              <div class="d-flex">
                <p class="psr-2">Blood Group:</p>
                <div class="font-weight-bold"> O+ </div>
              </div>
              <div class="d-flex">
                <p class="psr-2">Reports:</p>
                <div class="font-weight-bold"> <i class="far fa-file-pdf col-red"></i></div>
              </div>
            </div>
          </div>
          <hr class="light-hr">
          <div class="d-flex justify-content-around px-4"> <button mat-stroked-button color="primary">Read
              More</button></div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card py-3 py-md-3">
          <div class=" d-flex justify-content-between px-3 px-md-4">
            <img src="assets/images/user/usrbig6.jpg" height="55sspx" width="55px" alt="" class="rounded-circle">
            <div class="">
              <h6 class="col-green">Lindsey Johnson</h6>
              <p>Patient Id : 1234</p>
            </div>
            <div>
              <h6 class="">10:00 - 10:30 AM</h6>
              <p class="grey"> Friday, June 26 </p>
            </div>
          </div>
          <hr class="light-hr">
          <div class="d-flex flex-column justify-content-start w-100 px-3 px-md-4">
            <div><i class="fas fa-map-marker-alt pt-3 psr-3"></i> Shanti Nagar Bldg No B 4, Sector No 6, Mira
              Road</div>
            <div><i class="fas fa-phone pt-3 psr-3"></i>+123 87654565</div>
          </div>
          <hr class="light-hr">
          <div class="d-flex justify-content-between px-3 px-md-4">
            <div>
              <div class="d-flex">
                <p class="psr-2">Blood Group:</p>
                <div class="font-weight-bold"> O+ </div>
              </div>
              <div class="d-flex">
                <p class="psr-2">Reports:</p>
                <div class="font-weight-bold"> <i class="far fa-file-pdf col-red"></i></div>
              </div>
            </div>
          </div>
          <hr class="light-hr">
          <div class="d-flex justify-content-around px-4"> <button mat-stroked-button color="primary">Read
              More</button></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card py-3 py-md-3">
          <div class=" d-flex justify-content-between px-3 px-md-4">
            <img src="assets/images/user/usrbig7.jpg" height="55sspx" width="55px" alt="" class="rounded-circle">
            <div class="">
              <h6 class="col-green">Lindsey Johnson</h6>
              <p>Patient Id : 1234</p>
            </div>
            <div>
              <h6 class="">10:00 - 10:30 AM</h6>
              <p class="grey"> Friday, June 26 </p>
            </div>
          </div>
          <hr class="light-hr">
          <div class="d-flex flex-column justify-content-start w-100 px-3 px-md-4">
            <div><i class="fas fa-map-marker-alt pt-3 psr-3"></i> Shanti Nagar Bldg No B 4, Sector No 6, Mira
              Road</div>
            <div><i class="fas fa-phone pt-3 psr-3"></i>+123 87654565</div>
          </div>
          <hr class="light-hr">
          <div class="d-flex justify-content-between px-3 px-md-4">
            <div>
              <div class="d-flex">
                <p class="psr-2">Blood Group:</p>
                <div class="font-weight-bold"> O+ </div>
              </div>
              <div class="d-flex">
                <p class="psr-2">Reports:</p>
                <div class="font-weight-bold"> <i class="far fa-file-pdf col-red"></i></div>
              </div>
            </div>
          </div>
          <hr class="light-hr">
          <div class="d-flex justify-content-around px-4"> <button mat-stroked-button color="primary">Read
              More</button></div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card py-3 py-md-3">
          <div class=" d-flex justify-content-between px-3 px-md-4">
            <img src="assets/images/user/usrbig8.jpg" height="55sspx" width="55px" alt="" class="rounded-circle">
            <div class="">
              <h6 class="col-green">Lindsey Johnson</h6>
              <p>Patient Id : 1234</p>
            </div>
            <div>
              <h6 class="">10:00 - 10:30 AM</h6>
              <p class="grey"> Friday, June 26 </p>
            </div>
          </div>
          <hr class="light-hr">
          <div class="d-flex flex-column justify-content-start w-100 px-3 px-md-4">
            <div><i class="fas fa-map-marker-alt pt-3 psr-3"></i> Shanti Nagar Bldg No B 4, Sector No 6, Mira
              Road</div>
            <div><i class="fas fa-phone pt-3 psr-3"></i>+123 87654565</div>
          </div>
          <hr class="light-hr">
          <div class="d-flex justify-content-between px-3 px-md-4">
            <div>
              <div class="d-flex">
                <p class="psr-2">Blood Group:</p>
                <div class="font-weight-bold"> O+ </div>
              </div>
              <div class="d-flex">
                <p class="psr-2">Reports:</p>
                <div class="font-weight-bold"> <i class="far fa-file-pdf col-red"></i></div>
              </div>
            </div>
          </div>
          <hr class="light-hr">
          <div class="d-flex justify-content-around px-4"> <button mat-stroked-button color="primary">Read
              More</button></div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card py-3 py-md-3">
          <div class=" d-flex justify-content-between px-3 px-md-4">
            <img src="assets/images/user/usrbig9.jpg" height="55sspx" width="55px" alt="" class="rounded-circle">
            <div class="">
              <h6 class="col-green">Lindsey Johnson</h6>
              <p>Patient Id : 1234</p>
            </div>
            <div>
              <h6 class="">10:00 - 10:30 AM</h6>
              <p class="grey"> Friday, June 26 </p>
            </div>
          </div>
          <hr class="light-hr">
          <div class="d-flex flex-column justify-content-start w-100 px-3 px-md-4">
            <div><i class="fas fa-map-marker-alt pt-3 psr-3"></i> Shanti Nagar Bldg No B 4, Sector No 6, Mira
              Road</div>
            <div><i class="fas fa-phone pt-3 psr-3"></i>+123 87654565</div>
          </div>
          <hr class="light-hr">
          <div class="d-flex justify-content-between px-3 px-md-4">
            <div>
              <div class="d-flex">
                <p class="psr-2">Blood Group:</p>
                <div class="font-weight-bold"> O+ </div>
              </div>
              <div class="d-flex">
                <p class="psr-2">Reports:</p>
                <div class="font-weight-bold"> <i class="far fa-file-pdf col-red"></i></div>
              </div>
            </div>
          </div>
          <hr class="light-hr">
          <div class="d-flex justify-content-around px-4"> <button mat-stroked-button color="primary">Read
              More</button></div>
        </div>
      </div>
    </div>
  </div>
</section>
